In [1]:
import pandas as pd

In [9]:
df_buy=pd.read_csv("./datacreada/df_buy.csv")

In [10]:
df_buy.shape

(1664929, 9)

In [11]:
df_buy.describe()

,price,size,amount,LossCut100x,LossCut50x,LossCut25x,LossCut10x
count,1.664929e+06,1.664929e+06,1.664929e+06,1.664929e+06,1.664929e+06,1.664929e+06,1.664929e+06
mean,2.719964e+03,2.074342e+00,5.651495e+03,2.692764e+03,2.665564e+03,2.611165e+03,2.447967e+03
std,4.206572e+01,1.151491e+01,3.158718e+04,4.164506e+01,4.122440e+01,4.038309e+01,3.785915e+01
min,2.633500e+03,1.000000e-03,2.636920e+00,2.607165e+03,2.580830e+03,2.528160e+03,2.370150e+03
25%,2.690010e+03,1.500000e-02,4.017405e+01,2.663110e+03,2.636210e+03,2.582410e+03,2.421009e+03
50%,2.708600e+03,7.700000e-02,2.080629e+02,2.681514e+03,2.654428e+03,2.600256e+03,2.437740e+03
75%,2.745680e+03,9.750000e-01,2.653590e+03,2.718223e+03,2.690766e+03,2.635853e+03,2.471112e+03
max,2.848760e+03,3.910520e+03,1.112543e+07,2.820272e+03,2.791785e+03,2.734810e+03,2.563884e+03

In [12]:
df_buy.head(10)

,timestamp,price,size,side,amount,LossCut100x,LossCut50x,LossCut25x,LossCut10x
0,2025-02-15 00:00:04.229,2724.75,1.651,Buy,4498.56225,2697.5025,2670.2550,2615.7600,2452.275
1,2025-02-15 00:00:04.295,2724.75,0.420,Buy,1144.39500,2697.5025,2670.2550,2615.7600,2452.275
2,2025-02-15 00:00:04.373,2724.75,0.107,Buy,291.54825,2697.5025,2670.2550,2615.7600,2452.275
3,2025-02-15 00:00:04.399,2724.75,4.883,Buy,13304.95425,2697.5025,2670.2550,2615.7600,2452.275
4,2025-02-15 00:00:04.408,2724.86,0.008,Buy,21.79888,2697.6114,2670.3628,2615.8656,2452.374
5,2025-02-15 00:00:04.408,2724.83,1.101,Buy,3000.03783,2697.5817,2670.3334,2615.8368,2452.347
6,2025-02-15 00:00:04.408,2724.82,0.011,Buy,29.97302,2697.5718,2670.3236,2615.8272,2452.338
7,2025-02-15 00:00:04.408,2724.81,0.008,Buy,21.79848,2697.5619,2670.3138,2615.8176,2452.329
8,2025-02-15 00:00:04.408,2724.80,0.016,Buy,43.59680,2697.5520,2670.3040,2615.8080,2452.320
9,2025-02-15 00:00:04.428,2724.89,0.014,Buy,38.14846,2697.6411,2670.3922,2615.8944,2452.401

In [13]:
df_buy2 = df_buy[df_buy["amount"] >= 100000]

In [14]:
df_buy2

,timestamp,price,size,side,amount,LossCut100x,LossCut50x,LossCut25x,LossCut10x
361,2025-02-15 00:01:00.417,2724.69,36.869,Buy,100456.59561,2697.4431,2670.1962,2615.7024,2452.221
595,2025-02-15 00:02:05.209,2721.83,128.344,Buy,349330.54952,2694.6117,2667.3934,2612.9568,2449.647
1298,2025-02-15 00:04:00.153,2724.74,55.393,Buy,150931.52282,2697.4926,2670.2452,2615.7504,2452.266
1368,2025-02-15 00:04:04.425,2725.55,45.908,Buy,125124.54940,2698.2945,2671.0390,2616.5280,2452.995
1476,2025-02-15 00:04:22.554,2726.02,58.067,Buy,158291.80334,2698.7598,2671.4996,2616.9792,2453.418
...,...,...,...,...,...,...,...,...,...
1664448,2025-02-17 23:55:02.452,2742.26,46.461,Buy,127408.14186,2714.8374,2687.4148,2632.5696,2468.034
1664471,2025-02-17 23:55:19.499,2741.30,43.038,Buy,117980.06940,2713.8870,2686.4740,2631.6480,2467.170
1664772,2025-02-17 23:57:37.285,2742.55,89.102,Buy,244366.69010,2715.1245,2687.6990,2632.8480,2468.295
1664871,2025-02-17 23:58:30.496,2742.89,66.386,Buy,182089.49554,2715.4611,2688.0322,2633.1744,2468.601
1664875,2025-02-17 23:58:32.351,2742.41,91.288,Buy,250349.12408,2714.9859,2687.5618,2632.7136,2468.169